<div class="example-header" fxLayout="row">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  
  <div class="example-container mat-elevation-z8">
  
    <mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="id"> {{row.id}} </mat-cell>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="progress">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="progress"> {{row.progress}}% </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="name"> {{row.name}} </mat-cell>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.color]="row.color" data-label="color"> {{row.color}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
  






<!--mat-toolbar color ="primary">
    <h4> Allocate funds for your portfolio</h4>
    <span>&nbsp;</span> 
    
  </mat-toolbar>
  <div *ngIf="allocForm.controls.alocpflists.controls.length<1">
    <p> Don't have any portfolio yet.  Go to "Settings > Portfolio" to create one now</p>
    
  </div>

<div *ngIf="allocForm.controls.alocpflists.controls.length>0">
<form [formGroup]="allocForm" >
 
  <mat-card   style="margin-top:15px">
      <mat-card-header>
          <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start center" fxFlex="1 1 100"> 
        
          <mat-card-title [fxHide]="onEdit"><h1>{{allocfrdbcpy.alocledgerbal}}</h1></mat-card-title>
            
  
          </div>
         
          
      </mat-card-header>
      <mat-card-content >
          <div formArrayName="alocpflists">
                <div fxFlexLayout="row"  fxLayoutWrap fxLayoutGap="20px">
                    <label fxFlex><h3>Portfolio Name</h3></label>
                    <label fxFlex><h3>Allocated Amount</h3></label>
                    <label fxFlex><h3>Blocked Amount</h3></label>
                    <label fxFlex><h3>Current Allocation</h3></label>
                    <label fxFlex><h3>Total Allocated</h3></label>
                </div>
                <hr>
                        <div *ngFor="let alocpflist of allocForm.controls.alocpflists.controls; let i=index"  [formGroupName]="i">
                          
  
                          <div fxFlexLayout="row"  fxLayoutWrap fxLayoutGap="20px">
                             
  
                              
                            <label fxFlex><p>{{allocfrdbcpy.alocpflists[i].alocpfname}}</p></label>
                              <!--mat-form-field fxFlex="1 0 80px">
                                  <input matInput placeholder="Exchange" formControlName= "alocpfname" [readonly]="!onEdit" [(ngModel)]="allocfrdbcpy.alocpflists[i].alocpfname" >
                              </mat-form-field-->
  <!--
                              <mat-form-field fxFlex="1 0 80px" [fxHide]="!onEdit">
                                  <input matInput placeholder="NAV" formControlName= "alocpfallocated" [readonly]="!onEdit" [(ngModel)]="allocfrdbcpy.alocpflists[i].alocpfallocated">
                                </mat-form-field>
  
                              <mat-form-field fxFlex="1 0 80px" [fxHide]="!onEdit">
                                  <input matInput type="number" placeholder="Amount" formControlName= "alocpfblocked" [readonly]="!onEdit" [(ngModel)]="allocfrdbcpy.alocpflists[i].alocpfblocked">
                              </mat-form-field>
      
                              <mat-form-field fxFlex="1 0 80px"  [fxHide]="!onEdit">
                              <input matInput placeholder="Percent" formControlName= "alocpfnewallocated" [readonly]="!onEdit" [(ngModel)]="allocfrdbcpy.alocpflists[i].alocpfnewallocated">
                              </mat-form-field>
  
                              <mat-form-field fxFlex="1 0 80px">
                                  <input matInput type="number" placeholder="Alloted Amt" formControlName= "alocpftotal" readonly [(ngModel)]="allocfrdbcpy.alocpflists[i].alocpftotal">
                              </mat-form-field>
                          
                           
                        
                          </div>
                          
                      </div>                    
                    
                     
  
              
                                 </div>
  
      </mat-card-content>
      </mat-card>
      </form>
    </div>

  <!--
     
<table id="rwd-table-large">
        <thead>
          <tr>
            <th>Portfolio Name</th>
            <th>>Allocated Amount</th>
            <th>Blocked Amount</th>
            <th>Current Allocation</th>
            <th>Total Allocated</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let alocpflist of allocfrdbcpy.alocpflists"  >
            
            <td>{{alocpflist.alocpfname}}</td>
            <td>{{alocpflist.alocpfallocated}}</td>
            <td>{{alocpflist.alocpfblocked"}}</td>
            <td>{{alocpflist.alocpfnewallocated}}</td>
            <td>{{alocpflist.alocpftotal}}</td>
          </tr>
          
       
        </tbody>
      </table>



                        
      <table class="responsive-table">
            <caption></caption>
            <thead>
              <tr>
                <th scope="col">tradingsymbol</th>
                <th scope="col">exchange</th>
                <th scope="col">transaction_type</th>
                <th scope="col">order_type</th>
                <th scope="col">quantity</th> 
                
              </tr>
            </thead>
            <tfoot>
            </tfoot>
            <tbody>
              
            <tr  *ngFor="let alocpflist of allocForm.controls.alocpflists.controls" >
                <td scope="row">{{allocfrdbcpy.alocpflists[i].alocpfname}}</td>
                <td data-title="exchange">{{allocfrdbcpy.alocpflists[i].alocpfallocated}}</td>
                <td data-title="transaction_type">{{allocfrdbcpy.alocpflists[i].alocpfblocked"}}</td>
                <td data-title="order_type">{{allocfrdbcpy.alocpflists[i].alocpfnewallocated}}</td>
                <td data-title="quantity">{{allocfrdbcpy.alocpflists[i].alocpftotal}}</td>
              
                  
               
              </tr>
            </tbody>
          </table>
        
      
        -->
<!--

        <table>
          <caption>Statement Summary</caption>
          <thead>
            <tr>
              <th scope="col">Account</th>
              <th scope="col">Due Date</th>
              <th scope="col">Amount</th>
              <th scope="col">Period</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Account">Visa - 3412</td>
              <td data-label="Due Date">04/01/2016</td>
              <td data-label="Amount">$1,190</td>
              <td data-label="Period">03/01/2016 - 03/31/2016</td>
            </tr>
            <tr>
              <td scope="row" data-label="Account">Visa - 6076</td>
              <td data-label="Due Date">03/01/2016</td>
              <td data-label="Amount">$2,443</td>
              <td data-label="Period">02/01/2016 - 02/29/2016</td>
            </tr>
            <tr>
              <td scope="row" data-label="Account">Corporate AMEX</td>
              <td data-label="Due Date">03/01/2016</td>
              <td data-label="Amount"><input></td>
              <td data-label="Period">02/01/2016 - 02/29/2016</td>
            </tr>
            <tr>
              <td scope="row" data-label="Acount">Visa - 3412</td>
              <td data-label="Due Date">02/01/2016</td>
              <td data-label="Amount">$842</td>
              <td data-label="Period">01/01/2016 - 01/31/2016</td>
            </tr>
          </tbody>
        </table>

      -->