<form [formGroup]="orForm" [style.fontSize.px]="16">
<!--
  <div style="background-color:#d6dcf9">
                <mat-form-field >
                <mat-select placeholder="Portfolio" [(ngModel)]="selectedpfs"  (ngModelChange)="onChangeObj($event)" style="color:green" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let portfolio of portfolios" [value]="portfolio" style="color:green">
                          {{portfolio}}
                          </mat-option>
                        
                  </mat-select>
                </mat-form-field>
         
         <button mat-raised-button color="warn" (click)="addonepf()" ><strong>Add</strong></button>
      
      </div-->
    
    
    <br>

              <!--div formArrayName="orpflists">
                    <div [formGroupName]="i" *ngFor="let orpflist of orForm.controls.orpflists.controls; let i = index">
                      i={{i}}
                        <div fxFlexLayout = "row wrap">
                            <mat-card fxFlex>
                              <!--mat-card-subtitle style="margin:0 0 0 0">
    
    
                                <div fxFlexLayout = "row" fxLayoutWrap >
                                 <h4>{{orpflist.controls.orportfolio.value}}</h4>
                                 <button mat-raised-button  color="primary" (click)="showfndselect()" *ngIf="!shofndselect">SelectFund</button>
                                    <mat-form-field *ngIf="shofndselect">
                                      <mat-select placeholder="fundlist" [(ngModel)]="selectedfundlists"  (ngModelChange)="onChangeObj1($event)" style="color:green" [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let fundlist of fundlists" [value]="fundlist" style="color:green">
                                          {{fundlist}}
                                         </mat-option>
                        
                                      </mat-select>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="shofndselect">
                                      <mat-select placeholder="investment Type" [(ngModel)]="selectedinvtyp"  (ngModelChange)="onChangeObj2($event)" style="color:green" [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let investmenttype of investmenttypes" [value]="investmenttype" style="color:green">
                                          {{investmenttype}}
                                         </mat-option>
                        
                                      </mat-select>
                                    </mat-form-field>
              <button mat-raised-button  color="primary" (click)="addonemflist(orpflist.controls.orMFlists,selectedfundlists,selectedinvtyp)" *ngIf="shofndselect">AddFund</button>
                                  -->       

            <!--
                                </div>
                              </mat-card-subtitle>

                                <mat-card-content>  -->
                                    <div fxFlexLayout = "row" >
                                    <div fxFlex >
                                        <label>Onetime Total Amount:</label>
                                        <p>
                                            <label>
                                                <h3>{{cardpfonetimetotal| number}}</h3>
                                            </label>
                                        </p>
                                    </div>
            
                                    <div fxFlex>
                                        <label>SIP Total Amount :</label>
                                        <p>
                                            <label>
                                                <h3>{{cardpfsiptotal| number}}</h3>
                                            </label>
                                        </p>
                                    </div>
                                    </div>  
    
     <div formArrayName="orMFlists">
                  <div [formGroupName]="k" *ngFor="let orMFlist of orForm.controls.orMFlists.controls; let k = index">
      <mat-card>  
        
        <div fxFlexLayout = "column" fxFlexLayout.lt-md="row wrap" >
        <div  fxFlex="40%" fxFlex.lt-md="100%">
          <div> 
              <h3 [fxHide]="orMFlist.controls.ormffndnameedit.value == 'edit'">{{orMFlist.controls.ormffundname.value}} <button mat-icon-button (click)="edittog(orMFlist,k)"><mat-icon style="color:Red;">edit</mat-icon></button></h3>

              <mat-form-field [fxHide]="orMFlist.controls.ormffndnameedit.value == 'noedit'" fxFlex="90%">
                  <input matInput placeholder="Fund Name" aria-label="Fund Name" [matAutocomplete]="fnauto" formControlName="ormffundname"  >
                      <mat-autocomplete #fnauto="matAutocomplete" (optionSelected)="showfndselect()">
                          <mat-option *ngFor="let fundname of fundnames" [value]="fundname.fnddisplayname" >
                              <!--img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" /-->
                              <span>{{ fundname.fnddisplayname }}</span> |
                              <!--small>Population: {{state.population}}</small-->
                          </mat-option>
                      </mat-autocomplete> 
                      <mat-error *ngIf="orMFlist.controls.ormffundname.hasError('namexists')">                                                                
                          Fund Already added in this portfolio
                    </mat-error>       
                    <mat-error *ngIf="orMFlist.controls.ormffundname.hasError('invalidfund')">                                                                
                        Please chose a valid fund
                  </mat-error>              
                  </mat-form-field>
                  <button mat-icon-button (click)="edittog(orMFlist,k)" [fxHide]="orMFlist.controls.ormffndnameedit.value == 'noedit' || !orMFlist.controls.ormffundname.valid" ><mat-icon style="color:green;">check_circle</mat-icon></button>
          </div>
    
          <div> 
          <button mat-icon-button (click)="removefund(k)"><mat-icon style="color:red; margin-top:-5px">delete_forever</mat-icon></button>
              <span fxFlex="15"></span>
          <mat-chip class="chpcls1" [fxHide]="orMFlist.controls.ormffndnameedit.value == 'edit'" color="primary" selected="true" (click)="addonefundordlist(orForm.controls.orMFlists,'One Time',k)" [fxShow]="otshowcal(orMFlist.controls)">One Time</mat-chip>  
          <span fxFlex="5"></span>
          <mat-chip class="chpcls1" [fxHide]="orMFlist.controls.ormffndnameedit.value == 'edit'" color="primary" selected="true" (click)="addonefundordlist(orForm.controls.orMFlists,'SIP',k)">Add SIP</mat-chip>  
         
          <!--button mat-raised-button (click)="addonefundordlist(orForm.controls.orMFlists,'One Time',k)" [fxShow]="otshowcal(orMFlist.controls)"><mat-icon>add</mat-icon>Add One Time</button> 
          <!--button mat-raised-button (click)="addonefundordlist(orpflist.controls.orMFlists,'SIP',k)" [fxShow]="sipshowcal(orMFlist.controls)"><mat-icon>add</mat-icon>Add SIP</button--> 
          <!--button mat-raised-button (click)="addonefundordlist(orForm.controls.orMFlists,'SIP',k)" [fxHide]="togval(orMFlist.controls,k)"><mat-icon>add</mat-icon>Add SIP</button--> 
          </div>
        </div>
    
    <div fxFlex >
      <div fxFlexLayout="column wrap"  fxLayoutGap="50px">
           <div formArrayName="orMFfundorderlists">
                  <div [formGroupName]="l" *ngFor="let orMFfundorderlis of orMFlist.controls.orMFfundorderlists.controls; let l = index">
                          
                          <!--mat-form-field >
                              <input matInput placeholder="Inv Type" formControlName="orMFfundordelstrtyp" ([ngModel])="orMFfundorderlis.orMFfundordelstrtyp">
                          </mat-form-field>
                          <mat-chip  selected="true" class="chpcls">
                            {{orMFfundorderlis.controls.orMFfundordelstrtyp.value}}
                          </mat-chip>

                          <mat-form-field >
                                  <input matInput placeholder="Amount" formControlName="orMFfundordelsamt" ([ngModel])="orMFfundorderlis.orMFfundordelsamt">
                          </mat-form-field>
                          <mat-form-field [fxShow]="orMFfundorderlis.controls.orMFfundordelstrtyp.value == 'SIP'">
                              <input matInput placeholder="Freq" formControlName="orMFfundordelsfreq" ([ngModel])="orMFfundorderlis.orMFfundordelsfreq" >
                          </mat-form-field>
                          <mat-form-field  [fxShow]="orMFfundorderlis.controls.orMFfundordelstrtyp.value == 'SIP'">
                              <input matInput placeholder="Start Date" formControlName="orMFfundordelsstdt" ([ngModel])="orMFfundorderlis.orMFfundordelsstdt">
                          </mat-form-field-->
                          <mat-chip   class="chpcls">
                            {{orMFfundorderlis.controls.orMFfundordelstrtyp.value}}
                          </mat-chip>

                          
                          <span class="example-full-width" [fxHide]="!onEdit" *ngIf="orMFfundorderlis.controls.orMFfundordelstrtyp.value !='SIP'"></span>
                          <mat-form-field  class="example-full-width" [fxHide]="!onEdit" *ngIf="orMFfundorderlis.controls.orMFfundordelstrtyp.value =='SIP'" >
                            <input type="text" matInput  placeholder="Frequency" formControlName="orMFfundordelsfreq" [matAutocomplete]="auto5" [readonly]="!onEdit" ([ngModel])="orMFfundorderlis.orMFfundordelsfreq">
                              <mat-autocomplete #auto5="matAutocomplete">
                                <div *ngFor="let fnsipdts of orMFlist.controls.ormfDathold.value">                                 
                                  <mat-option *ngFor="let fnsipd of fnsipdts.fnsipdt" [value]="fnsipd.sipfreq" (onSelectionChange)="freqSelectchange(orMFfundorderlis.controls,fnsipd)">
                                      {{ fnsipd.sipfreq }}
                                  </mat-option>                                  
                                </div>
                              </mat-autocomplete>
                          </mat-form-field>


                          <mat-form-field class="example-full-width">
                              <!--(orMFlist.controls.ormfDathold.value)[0].fndminpuramt,(orMFlist.controls.ormfDathold.value)[0].fndmaxpuramt,(orMFfundorderlis.controls.ormfSelctedSip.value).sipminamt,(orMFfundorderlis.controls.ormfSelctedSip.value).sipmaxamt)-->
                              <input matInput placeholder="Amount" formControlName="orMFfundordelsamt" (change)="validateamt(orMFfundorderlis,orMFlist)">
                              <mat-error *ngIf="!orMFfundorderlis.controls.orMFfundordelsamt.valid && orMFfundorderlis.controls.orMFfundordelstrtyp.value === 'SIP'">                                                                
                                  {{(orMFfundorderlis.controls.ormfSelctedSip.value).sipminamt}}-{{(orMFfundorderlis.controls.ormfSelctedSip.value).sipmaxamt}} x of {{(orMFfundorderlis.controls.ormfSelctedSip.value).sipmulamt}}
                              </mat-error>
                              <mat-error *ngIf="!orMFfundorderlis.controls.orMFfundordelsamt.valid && orMFfundorderlis.controls.orMFfundordelstrtyp.value === 'One Time'">                                                                
                                    {{(orMFlist.controls.ormfDathold.value)[0].fndminpuramt}}-{{(orMFlist.controls.ormfDathold.value)[0].fndmaxpuramt}} x of {{(orMFlist.controls.ormfDathold.value)[0].fndpuramtinmulti}}
                              </mat-error>
  
  
                              <mat-hint *ngIf="orMFfundorderlis.controls.orMFfundordelstrtyp.value == 'SIP'">{{(orMFfundorderlis.controls.ormfSelctedSip.value).sipminamt}}-{{(orMFfundorderlis.controls.ormfSelctedSip.value).sipmaxamt}} x of {{(orMFfundorderlis.controls.ormfSelctedSip.value).sipmulamt}}</mat-hint>                            
                              <!--mat-hint *ngIf="orMFfundorderlis.controls.orMFfundordelstrtyp.value == 'One Time'" [fxHide]="ccccccd((orMFlist.controls.ormfDathold.value)[0].fndmaxpuramt)"></mat-hint-->
                              <mat-hint *ngIf="orMFfundorderlis.controls.orMFfundordelstrtyp.value == 'One Time'">{{(orMFlist.controls.ormfDathold.value)[0].fndminpuramt}}-{{(orMFlist.controls.ormfDathold.value)[0].fndmaxpuramt}} x of {{(orMFlist.controls.ormfDathold.value)[0].fndpuramtinmulti}}</mat-hint>
                            </mat-form-field>


                          <span class="example-full-width" [fxHide]="!onEdit" *ngIf="orMFfundorderlis.controls.orMFfundordelstrtyp.value !='SIP'"></span>
                          <mat-form-field class="example-full-width"  *ngIf="orMFfundorderlis.controls.orMFfundordelstrtyp.value=='SIP'" >
                              <input type="text" matInput  placeholder="SIP on" [readonly]="!onEdit" formControlName="orMFfundordelsstdt" [matAutocomplete]="auto6" [(ngModel)]="orMFfundorderlis.orMFfundordelsstdt"
                                  [readonly]="!onEdit">                   
                              <mat-autocomplete #auto6="matAutocomplete">
                                  <!--mat-option *ngFor="let sipdate of orMFfundorderlis.controls.ormfSipdthold.value" [value]="sipdate" (onSelectionChange)="filterss(orMFfundorderlis.controls,(orMFlist.controls.orMFfundorderlists.value))"-->
                                    <mat-option *ngFor="let sipdate of orMFfundorderlis.controls.ormfSipdthold.value" [value]="sipdate" >
                                      {{ sipdate }}
                                  </mat-option>
                              </mat-autocomplete>

                          </mat-form-field>

                            <!-- SIP END DATE -->
                          <mat-form-field class="example-full-width" *ngIf="orMFfundorderlis.controls.orMFfundordelsfreq.value ==='DAILY' && orMFfundorderlis.controls.orMFfundordelstrtyp.value ==='SIP'"> 
                              <input matInput [min]="today" [matDatepicker]="picker2" placeholder="SIP Untill" formControlName="orMFsipendt" 
                                  [(ngModel)]="orMFfundorderlis.orMFsipendt" [readonly]="!onEdit">
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2></mat-datepicker>
                              <mat-hint>Min installment {{(orMFfundorderlis.controls.ormfSelctedSip.value).sipmininstal}}</mat-hint>
                          </mat-form-field>
                          
                          <mat-form-field class="example-full-width" [fxHide]="!onEdit" *ngIf="orMFfundorderlis.controls.orMFfundordelsfreq.value !=='DAILY' && orMFfundorderlis.controls.orMFfundordelstrtyp.value =='SIP'">                            
                              <input matInput placeholder="Instalments" formControlName="orMFsipinstal">                              
                              <mat-error *ngIf="!orMFfundorderlis.controls.orMFsipinstal.valid">                                
                                  Min {{(orMFfundorderlis.controls.ormfSelctedSip.value).sipmininstal}} Max {{(orMFfundorderlis.controls.ormfSelctedSip.value).sipmaxinstal}}
                              </mat-error>
                                <mat-hint>{{(orMFfundorderlis.controls.ormfSelctedSip.value).sipmininstal}} - {{(orMFfundorderlis.controls.ormfSelctedSip.value).sipmaxinstal}}</mat-hint>
                          </mat-form-field>

                          
                          
                          <button mat-icon-button (click)="deleteMFRow(orMFlist.controls,l)"><mat-icon mat-48 style="color:red">delete_forever</mat-icon></button>
                          <br>
                          <br>
                  </div>
           </div>        
        <!--div style="background-color:red" fxFlex="100%"><p>jku1</p></div-->
      </div>
      </div>
        
        </div>
        
      
      
    
                         
        </mat-card>       
              </div>
            </div>
     
                                    
                               <!-- </mat-card-content>
    
    
    
                            </mat-card>
                        </div>
                    </div>
        <!--/div>
    
            

          <orpflist.controls.orMFlists,selectedfundlists,selectedinvtyp  -->
            <br>
              <button mat-icon-button  (click)="addonemflist(orForm.controls.orMFlists)" [fxHide]="!onEdit">
                  <mat-icon fxAlign="end">add_circle</mat-icon>
              </button>
              <strong [fxHide]="!onEdit" style="color:blue; font:8px; margin-left:-10px; ">Add Fund</strong>
           
      </form>

    
      
