
<form [formGroup]="orForm" >
        <mat-toolbar color ="primary" >
                <button mat-raised-button color="warn" (click)="addpf()" [fxHide] = "onAddpfmode"><strong>Add Portfolio</strong></button>
                <span>&nbsp;</span>
                <button mat-raised-button color="warn" (click)="canceladdpf()" [fxHide] = "!onAddpfmode"><strong>Cancel Add</strong></button>
                <span>&nbsp;</span>
                <span fxFlex></span>
                <label>&nbsp; Total Portfolios: &nbsp;</label>
              </mat-toolbar>

    <div style="background-color:#d6dcf9" [fxHide] = "!onAddpfmode">
                <mat-form-field >
                <!--mat-select placeholder="Portfolio" [(ngModel)]="selectedpfs"  (ngModelChange)="onChangeObj($event)" style="color:green" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let portfolio of portfolios" [value]="portfolio" style="color:green">
                          {{portfolio}}
                          </mat-option>
                        
                  </mat-select-->

                  <input matInput placeholder="Portfolio Name" aria-label="Portfolio Name" [matAutocomplete]="fnauto" [(ngModel)]="selectedpfs"  (ngModelChange)="onChangeObj($event)" [ngModelOptions]="{standalone: true}">
                  <mat-autocomplete #fnauto="matAutocomplete">
                      <mat-option *ngFor="let portfolio of portfolios" [value]="portfolio">
                          <!--img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" /-->
                          <span>{{ portfolio }}</span> |
                          <!--small>Population: {{state.population}}</small-->
                      </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

         
         <button mat-raised-button color="warn" (click)="addonepf()" ><strong>Add</strong></button>
      
      </div>
    
    
    <br>
    
              <div formArrayName="orpflists">
                    <div [formGroupName]="i" *ngFor="let orpflist of orForm.controls.orpflists.controls; let i = index">
                      i={{i}}
                        <div fxFlexLayout = "row" fxLayoutWrap >
                            <mat-card fxFlex>
                              <mat-card-subtitle style="margin:0 0 0 0">
    
    
                                <div fxFlexLayout = "row" fxLayoutWrap >
                                 <h4>{{orpflist.controls.orportfolio.value}}</h4>
                                 <button mat-raised-button  color="primary" (click)="showfndselect()" *ngIf="!shofndselect">SelectFund</button>
                                    <mat-form-field *ngIf="shofndselect">
                                      <mat-select placeholder="fundlist" [(ngModel)]="selectedfundlists"  (ngModelChange)="onChangeObj1($event)" style="color:green" [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let fundlist of fundlists" [value]="fundlist" style="color:green">
                                          {{fundlist}}
                                         </mat-option>
                        
                                      </mat-select>
                                    </mat-form-field>
                                    <mat-form-field *ngIf="shofndselect">
                                      <mat-select placeholder="investment Type" [(ngModel)]="selectedinvtyp"  (ngModelChange)="onChangeObj2($event)" style="color:green" [ngModelOptions]="{standalone: true}">
                                        <mat-option *ngFor="let investmenttype of investmenttypes" [value]="investmenttype" style="color:green">
                                          {{investmenttype}}
                                         </mat-option>
                        
                                      </mat-select>
                                    </mat-form-field>
              <button mat-raised-button  color="primary" (click)="addonemflist(orpflist.controls.orMFlists,selectedfundlists,selectedinvtyp)" *ngIf="shofndselect">AddFund</button>
                                </div>
                              </mat-card-subtitle>
    
                                <mat-card-content>
     <div formArrayName="orMFlists">
                  <div [formGroupName]="k" *ngFor="let orMFlist of orpflist.controls.orMFlists.controls; let k = index">
      <mat-card>  
        k={{k}}
        <div fxFlexLayout = "column" fxFlexLayout.lt-md="row" fxLayoutWrap>
        <div  fxFlex="40%" fxFlex.lt-md="100%">
          <div>
              <h2>{{orMFlist.controls.ormffundname.value}}</h2> </div>
    
          <div> <button mat-raised-button (click)="addonefundordlist(orpflist.controls.orMFlists,'One Time',k)" [fxShow]="otshowcal(orMFlist.controls)"><mat-icon>add</mat-icon>Add One Time</button> 
          <!--button mat-raised-button (click)="addonefundordlist(orpflist.controls.orMFlists,'SIP',k)" [fxShow]="sipshowcal(orMFlist.controls)"><mat-icon>add</mat-icon>Add SIP</button--> 
          <button mat-raised-button (click)="addonefundordlist(orpflist.controls.orMFlists,'SIP',k)" ><mat-icon>add</mat-icon>Add SIP</button> 
          </div>
        </div>
    
    <div fxFlex>
      <div fxFlexLayout="column" fxLayoutWrap>
           <div formArrayName="orMFfundorderlists">
                  <div [formGroupName]="l" *ngFor="let orMFfundorderlis of orMFlist.controls.orMFfundorderlists.controls; let l = index">
                          
                          <mat-form-field >
                              <input matInput placeholder="Inv Type" formControlName="orMFfundordelstrtyp" ([ngModel])="orMFfundorderlis.orMFfundordelstrtyp">
                          </mat-form-field>
    
                          <mat-form-field >
                                  <input matInput placeholder="Amount" formControlName="orMFfundordelsamt" ([ngModel])="orMFfundorderlis.orMFfundordelsamt">
                          </mat-form-field>
                          <mat-form-field [fxShow]="orMFfundorderlis.controls.orMFfundordelstrtyp.value == 'SIP'">
                              <input matInput placeholder="Freq" formControlName="orMFfundordelsfreq" ([ngModel])="orMFfundorderlis.orMFfundordelsfreq" >
                          </mat-form-field>
                          <mat-form-field  [fxShow]="orMFfundorderlis.controls.orMFfundordelstrtyp.value == 'SIP'">
                              <input matInput placeholder="Start Date" formControlName="orMFfundordelsstdt" ([ngModel])="orMFfundorderlis.orMFfundordelsstdt">
                          </mat-form-field>
                      
                          <button mat-icon-button (click)="deleteMFRow(orMFlist.controls,l)"><mat-icon>cancel</mat-icon></button>
    
                  </div>
           </div>        
        <!--div style="background-color:red" fxFlex="100%"><p>jku1</p></div-->
      </div>
      </div>
        
        </div>
        
    
    
    
                         
        </mat-card>       
              </div>
            </div>
     
                                    
                                </mat-card-content>
    
    
    
                            </mat-card>
                        </div>
                    </div>
            </div>
    
    
      
      </form>
    
    
     <pre>{{ orForm.value | json }}</pre>