.pfclass{
    border:1px solid lightgray;; 
    border-left:0px; 
    padding:0 10px 0 10px
} 

    .pfclassltlg{
        border:1px solid lightgray;
        border-top:0px; 
        padding:0 10px 0 10px
    } 
    