
<form [formGroup]="rForm" (ngSubmit)="addStocklist(rForm.value)">
<mat-card fxLayout.lt-lg="column" fxLayoutWrap>  
<div fxFlex = "1 0 65" style="border:1px solid lightgray;">
  <!--Left Line 1 start-->
  <div fxLayoutWrap fxLayoutAlign = "end center" fxLayoutGap="20px" style="padding:0 10px 0 10px"  >

    
      <mat-radio-group fxFlex formControlName="transaction_type" >
          
          <mat-radio-button [value]="trantype" *ngFor="let trantype of trantypes"  >
                  {{trantype}}
          </mat-radio-button>
      
        </mat-radio-group>
                    <mat-form-field fxFlex="0 1 100px">
                            <input matInput placeholder="exchange" formControlName="exchange" value="NSE">
                            <mat-error *ngIf="!rForm.controls['exchange'].valid">
                                exchange is <strong>required</strong>
                            </mat-error>
                        </mat-form-field >
                
                        <mat-form-field fxFlex="0 1 150px" >
                                <input matInput placeholder="tradingsymbol" formControlName="tradingsymbol">
                                <mat-error *ngIf="!rForm.controls['tradingsymbol'].valid">
                                    exchange is <strong>required</strong>
                                </mat-error>
                            </mat-form-field >
  
</div>
<!--Left Line 1 End-->
<span >&nbsp;&nbsp;</span>
<!--Left Line 2 start-->
<div fxLayoutWrap fxLayoutGap="20px" style="padding:0 10px 0 10px">
    <mat-form-field fxFlex="1 1 auto">
        <button matSuffix mat-icon-button type="button" (click)="openmypopup()" > <mat-icon matSuffix>launch</mat-icon></button>
        <input matInput placeholder="quantity" formControlName="quantity"  readonly>
       
    </mat-form-field>
    <mat-form-field fxFlex="1 1 auto">
            <input matInput placeholder="price" formControlName="price">
            <mat-error *ngIf="!rForm.controls['price'].valid">
                price is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 auto">
                <input matInput placeholder="trigger price" formControlName="trigger_price">
                <mat-error *ngIf="!rForm.controls['trigger_price'].valid">
                    trigger price is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        
            <mat-form-field fxFlex="1 1 auto" >
                <input matInput placeholder="disclosed quantity" formControlName="disclosed_quantity">
                <mat-error *ngIf="!rForm.controls['disclosed_quantity'].valid">
                    disclosed quantity is <strong>required</strong>
                </mat-error>
            </mat-form-field>
</div>
<!--Left Line 2 End-->
<span >&nbsp;&nbsp;&nbsp;&nbsp;</span>

<!--Left Line 3 Start-->
<div fxLayoutAlign = "start center" fxLayoutWrap fxLayout.lt-md="column" fxLayoutGap="20px" style="padding:0 10px 0 10px">
   
    <mat-radio-group fxFlex="60" formControlName="order_type" >
        
        <mat-radio-button *ngFor="let ordertype of ordertypes" [value]="ordertype" >
                {{ordertype}}
        </mat-radio-button>    
</mat-radio-group>


<mat-radio-group formControlName="validity" style="padding-right:10px">
    
    <mat-radio-button *ngFor="let ordervalidity of ordervalidities" [value]="ordervalidity" >
            {{ordervalidity}}
    </mat-radio-button>

</mat-radio-group>

</div>
<!--Left Line 3 End-->
<span >&nbsp;&nbsp;</span>
<!--Left Line 4 Start--
<div fxLayoutWrap fxLayoutGap="20px">
    <p>natrayan1</p>
    <p>natrayan1</p>
</div>
<!--Left Line 4 End-->
</div>

<!-- section on the right for portfolio selection  start-->
<div fxFlex="0 0 35" class="pfclass" [ngClass.lt-lg]="{'pfclassltlg':true}">
<!--div fxFlex="0 0 35" class="pfclass" [ngClass]="{'pfclassltlg':true}"-->
  <!--Right Line 1 start--> 
  <div fxLayoutWrap fxLayoutGap="20px">
      <mat-form-field >
        <mat-select multiple="{{true}}" placeholder="Portfolio" [(ngModel)]="selectedpfs" formControlName="portfolio" (ngModelChange)="onChangeObj($event)">
            <mat-option *ngFor="let portfolio of portfolios" [value]="portfolio">
                  {{portfolio}}
                  </mat-option>
                
          </mat-select>
        </mat-form-field>
          
          
      </div>
      <!--Right Line 1 End-->

      <!--Left Line 2 start--> 
      <!--div fxLayoutWrap fxLayoutGap="20px">
          <p>natrayan1</p>
          <p>natrayan1</p>
      </div-->
      <!--Left Line 2 end--> 

      <div>&nbsp;</div>

      <!--Left Line 3 start--> 
      <div fxLayoutWrap fxLayoutGap="20px">

            <mat-chip-list>
                <mat-chip *ngFor = "let selectedpf of selectedpfs" [selectable]="true" [removable]="true" (remove)="removechip(selectedpf)"  color="accent" >
                    {{selectedpf}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
             </mat-chip-list>
             
            <input type="hidden" formControlName="orderid">


 
      </div>
      <!--Left Line 3 End--> 
</div>
<!-- section on the right for portfolio selection end -->

<span >&nbsp;&nbsp;</span>
<!-- Bottom section for submit Button start -->

<div fxFlex="100" fxLayoutAlign="center center" >
    <button  mat-raised-button color="accent"><strong>+ Add to Order List</strong></button>  
  </div>

<!-- Bottom section for submit Button end -->

<!-- section for new line for future start-->
<!--<div fxFlex="100" style="background-color:brown">
    <p>ddsd</p>
  </div-->
<!-- section for new line for future end-->
</mat-card> 
</form> 
<span style="min-height:30px">&nbsp;</span>


<!-- Section for the stock list -->

<mat-card fxLayoutWrap>
    <div fxFlex="1 0 100%" fxLayoutAlign="start center" >
        <button  mat-raised-button color="primary" (click)="natrayan()"><strong><h3> Place Your Order</h3></strong></button> 
    </div>
    &nbsp;
    <mat-tab-group fxFlex="1 0 100%">
        <mat-tab label="Portfolio wise order">
            <div >
            <mat-expansion-panel *ngFor="let pf of myjsonporttran">
                    <mat-expansion-panel-header>
                    <mat-panel-title style="background-color: lightbrown">
                    <h2>{{pf.portfolio}}</h2>
                    </mat-panel-title>
                    <!--mat-panel-description>
                    Type your name and age
                    </mat-panel-description-->
                    </mat-expansion-panel-header>
                    
                    
                            <table class="responsive-table">
                              <caption></caption>
                              <thead>
                                <tr>
                                  <th scope="col">tradingsymbol</th>
                                  <th scope="col">exchange</th>
                                  <th scope="col">transaction_type</th>
                                  <th scope="col">order_type</th>
                                  <th scope="col">quantity</th>
                                  <th scope="col">product</th>
                                  <th scope="col">price</th>
                                  <th scope="col">trigger_price</th>
                                  <th scope="col">disclosed_quantity</th>
                                  <th scope="col">validity</th>
                                  <th scope="col">Edit/Remove</th>
                                  
                                </tr>
                              </thead>
                              <tfoot>
                              </tfoot>
                              <tbody>
                                
                              <tr *ngFor="let data of pf.data">
                                  <td scope="row">{{data.tradingsymbol}}</td>
                                  <td data-title="exchange">{{data.exchange}}</td>
                                  <td data-title="transaction_type">{{data.transaction_type}}</td>
                                  <td data-title="order_type">{{data.order_type}}</td>
                                  <td data-title="quantity">{{data.quantity}}</td>
                                  <td data-title="product">{{data.product}}</td>
                                  <td data-title="price">{{data.price}}</td>
                                  <td data-title="trigger_price">{{data.trigger_price}}</td>
                                  <td data-title="disclosed_quantity">{{data.disclosed_quantity}}</td>
                                  <td data-title="validity">{{data.validity}}</td>
                                  <td data-title="Edit/Remove">
                                    
                                    <button mat-icon-button (click)="removeitem(pf)"><mat-icon>cancel</mat-icon></button>
                                    <button mat-icon-button (click)="edititem(pf)"><mat-icon>edit</mat-icon></button>
                                    
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          
                        
                </mat-expansion-panel>                  
            </div>    

            
            
            
        </mat-tab>
        <mat-tab label="stock wise order">
        
        <table class="responsive-table">
            <caption></caption>
            
            <thead>
              <tr>
                
                <th scope="col">tradingsymbol</th>
                <th scope="col">exchange</th>
                <th scope="col">transaction_type</th>
                <th scope="col">order_type</th>
                <th scope="col">quantity</th>
                <th scope="col">product</th>
                <th scope="col">price</th>
                <th scope="col">trigger_price</th>
                <th scope="col">disclosed_quantity</th>
                <th scope="col">validity</th>
                <th scope="col">portfolios</th>
                <th scope="col">Edit/Remove</th>
                
              </tr>
            </thead>
            
            <tfoot>
            </tfoot>
            
            <tbody>
            
            <tr *ngFor="let data1 of myjsontran">
               
                <td scope="row">{{data1.data.tradingsymbol}}</td>
                <td data-title="exchange">{{data1.data.exchange}}</td>
                <td data-title="transaction_type">{{data1.data.transaction_type}}</td>
                <td data-title="order_type">{{data1.data.order_type}}</td>
                <td data-title="quantity">{{data1.data.quantity}}</td>
                <td data-title="product">{{data1.data.product}}</td>
                <td data-title="price">{{data1.data.price}}</td>
                <td data-title="trigger_price">{{data1.data.trigger_price}}</td>
                <td data-title="disclosed_quantity">{{data1.data.disclosed_quantity}}</td>
                <td data-title="validity">{{data1.data.validity}}</td>
                <td data-title="portfolios" >{{data1.portfolio}}</td>
                <td data-title="portfolios1" >{{data1.data.dispf}}</td>
                <td data-title="Edit/Remove">
                
                  <button mat-icon-button (click)="stockwisedelete(data1)"><mat-icon>cancel</mat-icon></button>
                  <button mat-icon-button (click)="stockwiseedit(data1)"><mat-icon>edit</mat-icon></button>
                  
                </td>
            
              </tr>
          
            
            </tbody>
            
          </table>
        
    
        </mat-tab>


      </mat-tab-group>

</mat-card>

<mat-card fxLayout="row" FxLayoutWrap fxHide>
  <p>To be hidden in production</p>
  &nbsp;
    <!--form method="post" id="basket-form" action="https://kite.trade/connect/basket" #myform-->
    <!--form method="post" id="basket-form" action="https://90jr17xd3j.execute-api.ap-southeast-1.amazonaws.com/dev/api" #myform-->
    <form method="post" id="basket-form" action="http://127.0.0.1:8000/api" #myform>
        <input  name="api_key" value={{api_key}} />
        <input  id="basket" name="data" value={{myjsontosubmit|json}} />
    </form>
    {{myjsontosubmit}}
    <button #natbutton (click)="natrayan()">comme</button>
</mat-card>
