<mat-spinner></mat-spinner>

  <label>{{data.message}}</label>

<!--h2>You are getting connected</h2>
<p>Test param: {{ param1 }}</p>
<p>I'm working on a POC app, and I'm trying get the MdDialog component working. Does any one have a working example of what to pass to the MdDialog open method?</p>

<button md-raised-button (click)="dialogRef.close()">Close dialog</button>
<mat-form-field>
  <input mdInput tabindex="1" [(ngModel)]="data.message">
</mat-form-field>
<button mat-button [mat-dialog-close]="data" tabindex="2">Ok</button-->