<app-toolbar></app-toolbar> 
<div fxLayout="column"  fxLayoutWrap fxLayoutAlign="center center" >
<mat-card style.gt-sm=" width:50%">
  
  <div fxLayout="row" fxLayout.lt-md="column" >
  <div  fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="center center">
    <h2>Zerodha Login</h2>
    <button mat-raised-button (click)="openpop()" > KiteLogin </button>    
  </div>

  <div  fxFlex="1 0 auto" style="background-color: green">
      <div  fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="center center">
          <h2>Family access Login</h2>
          <button mat-raised-button > Familyaccess </button>    
        </div>
  </div>

</div>
<div fxLayout="row" fxLayout.lt-md="column">
  <div  fxFlex="2 0 100%" style="background-color: blue">
      <div  fxLayout="column" fxFlex="1 0 auto" fxLayoutAlign="center center">
          <h2>New User?  Register Now</h2>
          <div  fxLayout="row" fxFlex="1 0 auto" fxLayoutAlign="center center">
          <p fxFlex>name</p>
          <p fxFlex>Phonenumber</p>
          </div>
      </div>

  </div>
</div>
</mat-card>
</div>


