<mat-toolbar color ="primary">
    <button mat-raised-button color="warn">add</button>
    <span>&nbsp;</span>
    <button mat-raised-button color="warn">Cancel</button>
  </mat-toolbar>
  

  
  <div fxLayoutWrap>
  
  </div>

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
          <mat-panel-description>
            Type your name and age
          </mat-panel-description>
        </mat-expansion-panel-header>
        
        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Age">
        </mat-form-field>
      </mat-expansion-panel>